@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Barlow+Condensed:wght@300&family=Josefin+Slab&family=Nunito&family=Rokkitt&display=swap');

/* Estilo padrão para telas maiores que 768px */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	background-color: #ffefe6
}

main, header, nav ul, footer {
    display: flex;
	
	
}

header {
	padding: 20px;
    margin: 0%;
	justify-content: center;
	background-color: #421210; 
}

h1,h2,h3, h5, h6 {
    font-family: 'Rokkitt', serif;
	color: #421210;
}
footer {
	display: flex;
	align-items: center;
}
footer p {
	color: #e2d3ca;
}
nav ul {
	list-style: none;
	padding: 0;
	flex-direction: inherit;
	flex: 1
}

nav li {
	margin: 0 10px;

}

nav a {
	text-decoration: none;
	color: #ffefe6;
	font-size: 20px;
}

section {
	margin: 20px;
	padding: 20px;
    width: 50%;
	
}

.main-colunas {
	padding-inline: 20%;

}
.main-colunas section {
	
	width: 100%;
}

.hr-coluna {
	background-color: black;
	width: 1%;
	border-radius: 15pt;
	margin-inline-end: 5%;
}


footer,button{
	background-color: #421210;
}
footer {
	
	padding: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

button{
	
	border-radius: 15px;
	padding: 15px;

}
button a {
	color: #ffefe6;
	font-family: 'Josefin Slab', serif;
}
a {
	text-decoration: none;
	color: #421210;
	
}

li {
	font-family: 'Barlow Condensed', sans-serif;

}

p {
    font-family: 'Nunito', sans-serif;
	line-height: 2.5;
	text-align: justify;
	margin-bottom: 5%;
}

/* display: flex; */
.grade, .linha, .card, .imagem-perfil, .autoras, .autoras div, .autor, .redes, .autora-resenha, .cabecalho-top, .cabecalho, .colunista, .itens-colunas, .titulo-coluna, .boxreed, .guia, .guia-img, .guia ul, .topicos,.colabs, .tooltip{
	display: flex;
}

#principe-cruel{
	background-image: url("../images/mapa-elfhame.jpg");
	background-attachment: fixed;
	background-size: contain;
	justify-content: center;
	
}

#principe-cruel .boxreed {
	margin-bottom: 5%;
}
#principe-cruel  .col-1 {
	width: 30%;
}

.img-autor {
	border-radius: 50%;
	width: 40%;
}

.titulo-cabecalho{
	color: #421210;
	border-radius: 15pt;
	font-family: 'Josefin Slab', serif;
	padding: 15px;
	margin-inline: 5%;
}
.grade {
	width: 100%;
	flex-direction: column;
	
	
}

.linha {
	padding-inline: 5%;
}

.bloco-livros{
	margin: 0%;
	padding: 0%;
	display: flex;
	width: 100%;
}
.card {
	flex-direction: column;
	margin: 20px;
	width: 20%;
	
	
}
.card .avaliacao {
	box-shadow: none;
}
.card img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	
	
}
.resenha {
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	border-radius: 15px;
	background-color: #ffefe6;

	

}

.img-resenha {
	width: 30%;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);	
	
}


.imagem-perfil {
	flex-direction: column;
	align-items: center;
}
.autoras {
	justify-content: center;
	border-top-width: 2pt; 
	border-bottom-width: 2pt; 
	align-content: center;
	border-style: dashed;
	border-color:  #421210; 
	align-items: center;
	

}

.autoras div {
	justify-content: center;
	width: 100%;
	align-items: center;
	align-content: center;
	margin-inline: 40px;
}
.autor {
	
	margin-bottom: 0px;
	
	margin: 20px;
	margin-inline: 40px;
}
.redes {
	background-color: #421210;
	border-radius: 15px;
	padding: 3px;
}

.nome-autora {
	font-family: 'Barlow Condensed', sans-serif;
}
.nome-livro {
	font-size: 30pt;
	color: #421210;

}
.autora-resenha {
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.leitura {
	align-items: center ;
	justify-content: center;
	border-bottom-width: 2pt; 
	border-style: dashed;
	border-color:  #421210; 
}
.autoras-mobile {
	display: none;

}


.nome {
	width: 100%;
	font-size: 15pt;
}

.cabecalho-top {
	align-items: center;
	justify-content: space-around;
	
}
.cabecalho {
	flex-direction: column;
	
	
	
}
.bloco {
	border-bottom-width: 2pt; 
	border-style: dashed;
	border-color:  #421210; 
}
.cabecalho img {
	border-radius: 50%;
	width: 70%;
	
}
.cabecalho h1 {
	margin-inline-start: 5%;
	font-size: 40pt;
	margin-inline-end: 5%;
}
.autora {
	border-radius: 0 0 15px 15px;
}

.resenha .conteiner {
	margin: 5%;
}

.widget-info {
	width: 20%;
}
.dropbtn {
	display: none;
}

.avaliacao {
	width: 25%;
	box-shadow: none;
}

.colunista {
    align-items: center;
	margin-top: 5%;
}
.cabecalho-coluna {
    padding: 5%;
}

.perfil {
    border-radius: 50%;
    width: 15%;
}
.informacoes {
    margin-inline-start: 5%;
}
.coluna h1 {
	font-size: 35pt;
	margin-bottom: 3%;
}
.coluna {
	background-color: #e2d3ca;
}
.itens-colunas {
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.item-coluna {
	margin: 5%;
}
.texto{
	padding: 5%;
}
.informacoes h6, h5 {
    margin: 0;
}
.capa {
    border-radius: 15pt;
	border-radius: 15px 15px 0 0;
	width: 100%;
}
.col-1 {
 width: 50%;
 margin-inline-end: 20px;	
}
.col-2 {
	width: 50%;
}
.col-1 img {
	width: 100%;
	margin-inline-end: 5%;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.boxreed {
	margin-block: 20px;
}

.boxreed ul {
	list-style: none ;
	font-size: 16pt;
}

.conteiner-right {
	width: 30%;
}

.conteiner-right h1, h2, h3 {
	margin-block: 13px;
}
.guia {
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding-inline: 10%;
}

.guia-img {
	justify-content: center;
	
}
.guia h1 {
	font-size: 30pt;
}
.guia img {
	width: 40%;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.guia ul {
	flex-direction: column;
	align-items: center;
	list-style: none;
	margin-bottom: 5%;

}

.guia li {
	font-size: 18pt;
	margin-block: 10px;
}

ul h1 {
	margin-bottom: 20px;
}
.topicos {
	flex-direction: column;
	
}
.colabs {
	
	border-radius: 15px;
	text-align: left;
	padding: 10px;
	margin-block: 20px;
	align-items: flex-start;
}

.colabs img {
	border-radius: 50%;
	width: 40%;

}

.tooltip {
	position: relative;
	text-align: left;
	flex-direction: column;
	align-items: center;
	
}


.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	margin: 0px;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
  
/* Estilo para telas menores que 768px */
@media (max-width: 967px) {

	main {
		flex-direction: column;
		align-content: center;
		align-items: center;
		padding: 10px;
	}
	header {
		justify-content: space-around;
		padding: 10px;
		margin-bottom: 8%;
	}

	nav ul {
		flex-direction: inherit;
	}

	nav li {
		margin: 10px 0;
	}
	
	nav a {
		font-size: 18px;
		color: #ffefe6;
	}
	section {
		margin: 0px;
		margin-top: 10px;
		padding: 0px;
        width: 100%;
		
	}

	.main-colunas {
		padding-inline: 10px;
	}

	footer {
		padding: 10px;
	}
	p {
		padding: 10px;
	}
	.card {
		margin: 10px;
	}
	.card img {
		border-radius: 5px;
	}

	.grade {
		flex-direction: column;
		
	}
	.linha {
		flex-direction: column;
	}
	

	.cabecalho img {
		
		width: 45%;
		
	}
	.autoras-mobile {
		display: flex;
			
	}
	.cabecalho-top, .cabecalho, .autoras-mobile {

		flex-direction: column;
		align-items: center;
	}
	.autoras {
		display: none;
	}

	.autoras-mobile {

		border-top-width: 2pt; 
		border-style: dashed;
		border-color:  #421210; 	
		margin-top: 20px;

	}

	.autoras-mobile img {
		border-radius: 50%;
		margin-inline-start: 5%;
		width: 45%;
		


	}
	
	.autor {

		width: 80%;
		margin-inline: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.widget-info {
		width: 93%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	  
	.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	}
	
	.dropdown-content a:hover {background-color: #671d1a}
	
	.dropdown:hover .dropdown-content {
	display: block;
	}
	
	.dropdown:hover .dropbtn {
	background-color: #404f6d;;
	}
	.avaliacao {
	width: 35%;
	}
	.item-coluna {
		margin: 10px;
	}


	.conteiner-right {
		width: 93%;
	}


}
